.grid-container{
    display: grid;
    width: 500px;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 100px);
    grid-gap: 10px;
    
    grid-template-areas: 
    "a1 a2 a2 a3 a3"
    "a4 a2 a2 a5 a5"
    "a6 a7 a8 a9 a10";
}
.text{
    width: 100%;
    color: white;
    background-color: #e2a636;
}
.text:nth-child(2n){
    background-color: #e7c52e;
}
#ga1{
    grid-area: a1;
}
#ga2{
    grid-area: a2;
}
#ga3{
    grid-area: a3;
}
#ga4{
    grid-area: a4;
}
#ga5{
    grid-area: a5;
}
#ga6{
    grid-area: a6;
}
#ga7{
    grid-area: a7;
}
#ga8{
    grid-area: a8;
}
#ga9{
    grid-area: a9;
}
#ga10{
    grid-area: a10;
}